h1{
  color: rgba(0,200,100,.8);
  /*border-color: purple;
  border-width: 5px;
  border-style: solid;*/
  border: 2px solid rgb(255, 100, 80);
}
h4{
  background: rgb(255, 100, 80);
}
body{
  background: pink;
  /*background: url(http://4.bp.blogspot.com/_XKNrkGfux3g/S5idk-KaRzI/AAAAAAAAAX0/6bANi220lwg/s400/Wood+Grain+3_crop.jpg);
  background-repeat: no-repeat;
  background-size: cover;*/
}
